/* custom variables */
:root {
	--clr-main-light: white;
	--clr-main-dark: black;
	--clr-main-gray: #1f2937;
	--clr-accent-light: #e5e7eb;
	--clr-accent-dark: rgba(0, 0, 0, 0.45);
	--clr-accent-default: #596d48;
}

/* fonts */
@font-face {
	font-family: 'Norse Bold';
	src: url(./fonts/Norse-Bold.otf);
}

@font-face {
	font-family: 'Metro Persona';
	src: url(./fonts/MetropolisPersonalUseRegular-nR5LY.ttf);
}

/* custom styling */
.flex {
	display: flex;
}

.grid {
	display: grid;
	gap: 2rem;
}

main {
	flex-direction: column;
	background-color: whitesmoke;
	width: 65vw;
	justify-content: center;
}

main>* {
	margin: 0 0 0 2rem;
}

.sidebar {
	background-image: url(./img/halie-west-25xggax4bSA-unsplash.jpg);
	background-size: cover;
	height: 100vh;
	min-width: 35vw;
	font-family: 'Norse Bold';
	color: var(--clr-main-light);
}

.dark-bg {
	background-color: var(--clr-accent-dark);
	margin: 23.5vh 0 0 0;
	justify-content: center;
	padding: 0.5rem;
}

.dark-bg>span {
	font-size: 5rem;
	flex-direction: row;
	align-items: center;
}

#logo {
	max-height: 90px;
}

em {
	font-style: italic;
}

form#create-account {
	grid-template-columns: repeat(2, 1fr);
}

.standout {
	background-color: white;
	padding: 0 1rem 2rem;
	box-shadow: 0 5px 5px lightgray;
	margin: 2rem 0;
}

h2 {
	font-size: large;
	font-weight: 600;
	padding: 1rem 1rem 2rem;
	color: black;
}

p {
	font-size: 1.1rem;
	font-weight: 600;
	width: 45vw;
	padding-bottom: 1.5rem;
}

.submit-form {
	border: none;
	border-radius: 0.25rem;
	background-color: var(--clr-accent-default);
	color: white;
	font-weight: 700;
	padding: 0.6rem 2.75rem;
	margin-bottom: 2.5rem;
}

a {
	color: var(--clr-accent-default);
	text-decoration: none;
	font-weight: 600;
}

form {
	margin-left: 1rem;
	width: 60%;
}

form>div {
	position: relative;
}

label {
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: 600;
	color: #555555;
	position: absolute;
	bottom: 2rem;
}

input {
	width: 15rem;
	padding: 0.25rem;
	border: 1px solid var(--clr-accent-light);
	border-radius: 0.25rem;
	outline: none;
}

input:focus {
	border: 1px solid cornflowerblue;
	outline: none;
	box-shadow: 2px 2px 3px grey;
}

input.error {
	border: 1px solid tomato;
}